* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

/* common class */
.container {
  max-width: 1280px;
  margin: auto;
  background-color: #fbfbfb;
}

.btn {
  margin: 4px;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: rgba(70, 145, 101, 1);
  border: none;
  font-weight: 600;
  color: #ffffff;
}

.btn:hover {
  cursor: pointer;
}

/* main class */

/* nav section */
.nav-bar {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.nav-bar .nav-links {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: green;
}

/* banner section */
.site-header {
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  align-content: center;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  text-align: center;
  margin: 73px auto;
}

.header-top {
  background-color: #ffffff;
  border-radius: 50px;
  padding: 8px 16px;
  border: none;
  color: rgba(70, 145, 101, 1);
  display: inline-flex;
  gap: 10px;
}

.site-header h1 {
  color: #ffffff;
  font-size: 72px;
}

.site-header span {
  color: #30b868;
}

.site-header p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 15px;
}

.site-header .button-container {
  display: inline-flex;
}

.button-container button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button-container .btn:last-child {
  background-color: transparent;
  border: 2px solid #ffffff;
}
